@use '../abstracts' as *;

body {
  font-size: fs(400);
  font-weight: $fw-400;
  color: clr(neutral, 900);
  background-color: clr(neutral, 100);
  font-family: $ff-sans;
  text-align: center;
}

.page-title {
  color: clr(primary, 400);
  font-size: fs(900);
  margin-block: size(32);
}
